/* external css: flickity.css */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.carousel {
	height: 80px;
}

.carousel-cell {
	width: 66%;
	height: 80px;
	margin-right: 10px;
	background-image: url('../Images/ecutbildning.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 80px;
	color: white;
}
