/* external css: flickity.css */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.carousel {
	height: 80px;
	margin-bottom: 3rem;
}

.carousel-cell {
	width: 66%;
	height: 80px;
	background-image: url('../Images/ecutbildning.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/* cell number */
.carousel-cell:before {
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 80px;
	color: white;
}

@media (min-width: 768px) {
	.carousel {
		width: 70%;
		left: 15%;
	}
}

@media (min-width: 992px) {
	.carousel {
		width: 50%;
		left: 25%;
	}
}
