/* 
TODO: Watch video button (circles bounce out and in)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/** font-family: 'Poppins', serif; */

/*! This ensures that all browsers have 16px as default fontsize */
:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #8a8a8a;
}

/** Beginning of help classes */

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ffbb00;
}

p {
	color: #8a8a8a;
}

h1 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: bold;
}

h2 {
	color: #333;
	font-size: 32px;
}

h3 {
	color: #333;
	font-size: 20px;
}

section {
	display: flex;
	justify-content: space-between;
}

.white {
	color: #fff;
}

.box-p {
	background-color: rgba(255, 187, 0, 0.15);
	width: 85px;
	border-radius: 7%;
	text-align: center;
}

.info {
	color: #ffbb00;
}

.margin-p {
	margin: 0.5rem 0;
}

.margin-between {
	margin: 0 5px;
}

.bg {
	background-color: rgb(75, 75, 80);
}

.background {
	margin: auto;
	background-image: url('../Images/home.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 45vh;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.btn {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	margin: 0.75rem;
	font-size: 1rem;
	cursor: pointer;
	width: 160px;
	height: 50px;
	font-weight: 500;
}

.btn-primary {
	color: #fff;
	background-color: #ffbb00;
	width: 130px;
}

.button-secondary {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	margin: 0.75rem 0;
}

.container {
	width: 100%;
	/* padding: 0 1rem; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.content {
	width: 100%;
}

.collapse {
	display: none;
}

.show {
	display: flex;
}

.block {
	margin: 1rem 0;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: start;
	list-style-type: none;
}

ul li {
	padding: 6px 0;
	margin: 0 0.5rem;
}

ul li a {
	position: relative;
	display: block;
	color: #ecf0f1;
	transition: 0.5s;
}

ul li a::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: 100%;
	left: 0;
	background: #ffbb00;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
}

ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

/** End of help classes */

/*! Beginning of Specific class changes */
/** Top menu below this line */

.main-menu {
	padding: 0.5rem;
}

.main-menu-mobile {
	font-size: 2rem;
	color: #ffbb00;
	background-color: transparent;
	border: 1px solid transparent;
}

.main-menu img {
	height: 100%;
}

.main-menu .logo img {
	display: flex;
	height: 100%;
}

.main-menu .container {
	align-items: center;
}

.main-menu-nav {
	display: flex;
	align-items: center;
}

.playbutton {
	align-items: center;
	width: 100%;
	display: flex;
}

.playbutton img {
	margin: 1rem auto;
}

.outer-circle {
	border: 1px solid #ffbb00;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: none;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	margin: 0 1rem;
}

.inner-circle {
	background-color: #ffbb00;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.triangle {
	width: 13px;
	height: 13px;
	background: #fff;
	rotate: 90deg;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.app-download {
	align-items: center;
	width: 100%;
	display: flex;
}

.app-download img {
	width: 150px;
}

.dots img {
	height: 300px;
}

/*! Beginning of Specific id /to/ class changes */

#home .container {
	align-items: center;
	width: 100%;
	justify-content: center;
}

#home .container .content {
	margin: 1rem 1rem;
	width: 60%;
}

#about-us .container {
	align-items: center;
	width: 85%;
	justify-content: center;
	margin: 3rem auto;
}

#about-us .container .iphone-dots img {
	width: 400px;
	margin-right: 3rem;
}
#features {
	background-color: #f5f5f5;
}

#features .container {
	align-items: center;
	width: 85%;
	justify-content: center;
	margin: 3rem auto;
}

#features .content {
	width: 130%;
}

#features .container .content .list img {
	display: flex;
	margin: auto;
	height: 3.75rem;
	width: 3.75rem;
}

#features .container .content .list .service-card .image-box {
	display: flex;
}

#features .list {
	display: flex;
	flex-wrap: wrap;
}

#features .container .content .list .service-card {
	flex-grow: 1;
	width: 50%;
	min-width: 320px;
}
#features .container .content .list .service-card img {
	margin-right: 1rem;
}

#features .iphone-circle {
	width: 100%;
}

#features .iphone-circle img {
	width: 80%;
	margin-left: 2rem;
}

#application-screen .container {
	align-items: center;
	width: 85%;
	justify-content: center;
	flex-direction: column;
}

#application-screen .content {
	width: 60%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}
/*? Start of mediaqueries */

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.main-menu-nav {
		flex-direction: row;
	}

	.main-menu-mobile {
		display: none;
	}

	.collapse,
	.outer-circle {
		display: flex;
	}

	main {
		display: block !important;
	}

	h1 {
		font-size: 33px;
	}

	.dots {
		display: flex;
		align-items: center;
	}

	#home .container img {
		width: 350px;
		padding-left: 10px;
	}

	#home .container .content {
		width: 100%;
	}

	.background {
		padding-bottom: 30vh;
	}

	#about-us .container .content {
		width: 80%;
	}

	#about-us .container .iphone-dots img {
		width: 280px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.fa-play-circle {
		display: inline-block;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 40px;
	}

	#home .content p {
		max-width: 70%;
	}

	#about-us .container .iphone-dots img {
		width: 360px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	h1 {
		font-size: 57px;
	}

	h2 {
		font-size: 57px;
	}

	#home .content p {
		max-width: 60%;
	}
}

/*? End of mediaqueries */
